.product-card {
	// text
	box-shadow: 0;
	position: relative;
	font-family: Raleway;
	font-style: normal;
	font-size: 18px;
	// line-height: 1vh;
	text-decoration: none;
	color: #1d1f22;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 15px;
	// width: fit-content;
	height: 60vh;
	// border: 1px solid #000;

	& .product-img {
		// width: 24.5vw;
		// align-self: center;
		align-self: stretch;
		flex-grow: 0;
		margin: 0px 0px;
	}
	& .product-card-cart {
		// width: 300px;
		position: absolute;
		right: 15px;
		bottom: 10vh;
	}
	& .product-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: #1d1f22;
		// align-content: flex-start;
		// text-align: left;
		// border: 1px solid #000;

		& .product-title {
			font-weight: 300;
		}
		& .product-price {
			font-weight: 500;
		}
	}
}

.product-card:hover {
	box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
	transition: box-shadow 0.3s ease-in-out;
}

.product-card-out-of-stock {
	@extend .product-card;
	display: flex;
	opacity: 0.5;
	background: #ffffff;

	& .product-out-of-Stock-txt {
		// color: #8d8f9a;
		text-transform: uppercase;
		position: absolute;
		align-self: center;
		top: 35%;
		font-weight: 300;
		font-size: 24px;
		line-height: 160%;
		text-shadow: -1px 0 #8d8f9a, 0 1px #8d8f9a, 1px 0 #8d8f9a, 0 -1px #8d8f9a;
	}
}
