.category-name {
	width: fit-content;
	height: 4.25rem;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 160%;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	color: #1d1f22;
	margin: 0 10vw 5vh;
}
.directory-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(24.3vw, 1fr));
	justify-content: center;
	text-align: center;
	gap: 40px;
	margin: 0 10vw;
	align-self: right;
}
