.cart-overlay-item-attributes-main-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	// width: 50%;
	& .cart-overlay-item-attributes-group-container {
		& .cart-overlay-item-attributes-other-container {
			display: flex;
			flex-direction: row;
			// align-items: flex-end;
			// width: fit-content;
			// margin: 0;

			& .cart-overlay-item-attribute-box-selected {
				background: #fff;
				border: 1px solid #1d1f22;
				box-sizing: border-box;
				font-family: 'Source Sans Pro';
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 160%;

				min-width: 24px;
				height: 24px;
				padding: 0 4px;

				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 10px;
				margin-top: 5px;
			}

			& .cart-overlay-item-attribute-box {
				@extend .cart-overlay-item-attribute-box-selected;
				opacity: 0.5;
			}
		}
		& .cart-overlay-item-attributes-swatch-container {
			@extend .cart-overlay-item-attributes-other-container;

			& .cart-overlay-item-attribute-swatch-selected {
				@extend .cart-overlay-item-attribute-box-selected;
				// border: 3px solid red;
			}

			& .cart-overlay-item-attribute-swatch {
				@extend .cart-overlay-item-attribute-box;
				opacity: 0.3;
			}
		}
	}
}
