.product-image-description {
	margin-left: 2.7vw;
	// /* Group 625 */
	// position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	width: 69.5vw;
	height: auto;
	// border: 1px solid #000;

	& .product-primary-image {
		/* Image */
		width: 28vw;
		height: 70vh;
		align-self: flex-start;
		// border: 1px solid #000;
	}
	& .product-box {
		margin: 0;
		display: flex;
		flex-direction: column;
		margin-left: 100px;
		/* Group 624 */
		// position: absolute;
		width: 21vw;
		height: auto;
		// border: 1px solid #000;

		& .product-brand {
			font-weight: 600;
			font-size: 30px;
			line-height: 27px;
			margin: 0;
			margin-bottom: 16px;
			color: #1d1f22;
		}

		& .product-name {
			margin: 0;
			margin-bottom: 30px;
			font-weight: 400;
			font-size: 30px;
			line-height: 27px;
		}

		& .product-attribute-name {
			margin: 0;
			margin-bottom: 10px;
			text-transform: uppercase;
			height: 18px;
			font-weight: 700;
			font-size: 18px;
			line-height: 18px;
		}

		& .product-attributes-box {
			display: flex;
			flex-direction: row;
			& .product-attribute {
				@extend .product-name;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid #1d1f22;
				cursor: pointer;
				// border: 1px solid #5ece7b;
				box-sizing: border-box;
				margin-right: 12px;
				width: 63px;
				height: 45px;
				font-family: 'Source Sans Pro';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 18px;
				display: flex;
				align-items: center;
				text-align: center;
				letter-spacing: 0.05em;
			}

			& .product-attribute-active {
				@extend .product-attribute;
				background: #1d1f22;
				color: #fff;
			}

			& .product-attribute-swatch {
				@extend .product-attribute;
			}

			& .product-attribute-swatch-active {
				@extend .product-attribute-swatch;
				border: 3px solid #5ece7b;
			}

			& .product-attribute-out-of-stock {
				@extend .product-attribute;
				opacity: 0.5;
				cursor: auto;
			}
		}

		& .product-price {
			@extend .product-attribute-name;
			margin: 0;
			margin-bottom: 20px;
		}
	}

	& .add-to-cart-btn {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 16px 32px;
		border: none;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 20px;
		cursor: pointer;
		background: #5ece7b;

		/* --button-font */
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 120%;

		/* Inside auto layout */
		flex: none;
		order: 0;
		flex-grow: 0;
	}
	& .add-to-cart-btn-inactive {
		@extend .add-to-cart-btn;
		opacity: 0.5;
		cursor: auto;
	}

	& .product-description-box {
		height: 15vh;
		scroll-behavior: smooth;
		overflow-y: scroll;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 159.96%;
		/* or 26px */

		/* --c-text */

		color: #1d1f22;
	}
}

.secondary-images {
	display: flex;
	flex-direction: column;
	// flex-wrap: wrap;
	position: relative;
	justify-items: center;
	align-items: flex-end;
	// align-content: flex-start;
	// justify-content: flex-start;
	overflow-y: scroll;
	overflow-x: hidden;
	// width: 15vw;
	// text-align: center;
	height: 70vh;
	direction: rtl;

	& .product-secondary-image {
		width: 80px;
		height: 80px;
		cursor: pointer;
		padding-top: 1vh;
		padding-left: 2vh;
	}

	& .product-secondary-image-active {
		@extend .product-secondary-image;
		margin: 20px;
		box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.3);
		transform: scale(1.2);
		border: 1px solid #5ece7b;
		border-radius: 4%;
		transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
	}
}
