.product-image-description {
	font-family: 'Raleway';
	font-style: normal;
	margin-left: 2.7vw;
	// /* Group 625 */
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: flex-start;
	width: 69.5vw;
	height: auto;

	& .product-primary-image-container {
		width: 30vw;
		margin-right: 70px;
		& .product-primary-image {
			/* Image */
			max-width: 30vw;
			max-height: 70vh;
		}
	}

	& .product-box {
		margin: 0;
		display: flex;
		flex-direction: column;
		/* Group 624 */
		width: 21vw;
		height: auto;
		position: relative;
		right: 0;

		& .product-brand {
			font-weight: 600;
			font-size: 30px;
			line-height: 27px;
			margin: 0;
			margin-bottom: 16px;
			color: #1d1f22;
		}

		& .product-name {
			margin: 0;
			margin-bottom: 30px;
			font-weight: 400;
			font-size: 30px;
			line-height: 27px;
		}
		& .product-attribute-container {
			// margin: 0;
			& .product-attribute-name {
				font-family: 'Roboto Condensed';
				margin: 0;
				margin-bottom: 10px;
				text-transform: uppercase;
				height: 18px;
				font-weight: 700;
				font-size: 18px;
				line-height: 18px;
			}

			& .product-attributes-box {
				display: flex;
				flex-direction: row;
				& .product-attribute {
					@extend .product-name;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 1px solid #1d1f22;
					cursor: pointer;
					box-sizing: border-box;
					margin-right: 12px;
					width: 63px;
					height: 45px;
					font-family: 'Source Sans Pro';
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 18px;
					display: flex;
					align-items: center;
					text-align: center;
					letter-spacing: 0.05em;
					margin-bottom: 15px;
				}

				& .product-attribute-active {
					@extend .product-attribute;
					background: #1d1f22;
					color: #fff;
				}

				& .product-attribute-swatch {
					@extend .product-attribute;
				}

				& .product-attribute-swatch-active {
					@extend .product-attribute-swatch;
					border: 3px solid #5ece7b;
				}

				& .product-attribute-out-of-stock {
					@extend .product-attribute;
					opacity: 0.5;
					cursor: auto;
				}
			}
		}
		& .product-price-title {
			margin: 0;
			margin-bottom: 20px;
			font-family: 'Roboto Condensed';
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 18px;
			color: #1d1f22;
			text-transform: uppercase;
		}
		& .product-price {
			@extend .product-price-title;
			font-family: 'Raleway';
			font-size: 24px;
		}
	}

	& .add-to-cart-btn {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 16px 32px;
		border: none;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 20px;
		cursor: pointer;
		background: #5ece7b;

		/* --button-font */
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 120%;

		/* Inside auto layout */
		flex: none;
		order: 0;
		flex-grow: 0;
	}
	& .add-to-cart-btn-inactive {
		@extend .add-to-cart-btn;
		opacity: 0.5;
		cursor: auto;
	}

	& .product-description-box {
		position: relative;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		/* --c-text */
		color: #1d1f22;
		text-align: justify;

		& div:first {
			display: flex;
			flex-direction: row;
		}
		& > h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 160%;
		}

		& .product-description-btn-more {
			white-space: nowrap;
			padding-bottom: 20px;
			font-weight: 600;
			font-size: 15px;
			color: rgba(141, 143, 154, 1);
			cursor: pointer;
			text-transform: capitalize;
		}
		& .product-description-btn-less {
			@extend .product-description-btn-more;
			position: absolute;
			bottom: -10px;
			right: 0;
		}
	}
}
.dots {
	font-size: 20px;
}
.secondary-images {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-items: center;
	align-items: flex-end;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 70vh;
	direction: rtl;

	& .product-secondary-image {
		width: 80px;
		cursor: pointer;
		padding-top: 1vh;
		padding-left: 2vh;
	}

	& .product-secondary-image-active {
		@extend .product-secondary-image;
		padding: 0;
		margin: 20px;
		box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.3);
		transform: scale(1.2);
		border: 1px solid #5ece7b;
		border-radius: 4%;
		transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
	}
}
